@import '../vars.scss';

.button__icon {
  padding: 5px;
}

.button__icon svg {
  transition: 1s;
  font-size: 18px;

  &:hover {
    cursor: pointer;
    transform: scale(1.4);
  }
}

.button__icon_disabled svg {
  opacity: 0.5;

  &:hover {
    cursor: not-allowed;
  }
}

.button__icon_plus {
  margin-left: 200px;
}

.button__icon_plus svg {
  font-size: 20px;
  color: $varColor;
}
